#purgeBtn {
    background-color: darkred;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    position:fixed;
    bottom:0;
    right:0;
    padding:10px;
    display:flex;
    align-items:center;
}

#purgeBtn:hover {
    background-color: rgb(68, 3, 3);
}
#addTestEntriesBtn {
    background-color: darkblue;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    position:fixed;
    bottom:50px;
    right:0;
    padding:10px;
    display:flex;
    align-items:center;
}
#addTestEntriesBtn:hover {
    background-color: rgb(3, 3, 68);
}