#purgeBtn {
    background-color: darkred;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    position:fixed;
    bottom:0;
    right:0;
    padding:10px;
    display:flex;
    align-items:center;
}

#purgeBtn:hover {
    background-color: rgb(68, 3, 3);
}
#addTestEntriesBtn {
    background-color: darkblue;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    position:fixed;
    bottom:50px;
    right:0;
    padding:10px;
    display:flex;
    align-items:center;
}
#addTestEntriesBtn:hover {
    background-color: rgb(3, 3, 68);
}

#disclaimerText {
    font-size: 12px;
    color: red;
    font-weight: bold;
    background-color: black;
    background-size:auto;
    padding:5px;
    text-align: bottom;
    position: fixed;
    bottom: 0;
    left: 0;
}