table, th, td { /*The table has a border, as does the cells*/
  border:1px solid black;
}
th { /*The table headings have padding*/
  padding: 10px;
}

/* Button styles */
#addBtn {
  background-color: green;
  color: white;
  cursor: pointer;
}
#addBtn:hover {
  background-color: darkgreen;
}
#updateBtn {
  background-color: blue;
  color: white;
  cursor: pointer;
}
#updateBtn:hover {
  background-color: darkblue;
}
#deleteBtn {
  background-color: red;
  color: white;
  cursor: pointer;
}
#deleteBtn:hover {
  background-color: darkred;
}

/* Form styles */
#assignmentForm {
    display: none;
}